{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>About</h1>

        <p>Más la imagen.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/about.png" class="img-thumbnail" width="90%">
    </div>
</div>

{{> footer }}